:root {
    --mainColor:brown;
}
*{
    margin: 0;
    padding: 0;
}
main img {
    width:100%; 
    height:auto;
}

.heroimg {
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    justify-content: center;
    background-color: var(--mainColor);
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    background-color: var(--mainColor);
    color: white;
    padding: 1REM;

} 
section {
    display: flex;
    justify-content: center;
    display: block;
    
}
@media screen and (max-width: 1000px) {
    .weather h2::after {
        content: url("/images/rain_cloud.svg");
    }
    section {
        text-align: center;
    }
}
@media screen and (min-width:1000px) {
    section {
        background-color: rgba(255, 255, 255, 0.712);
        padding: 10px;
        border-radius: 12px;
    }
    section h2 {
        border-radius: 12px;
        color: white;
        background-color: rgb(22, 22, 190);
        padding: 1rem;
        position: relative;
        margin: 5px;
        margin-bottom: 1rem;
        text-align: center;
    }
    .weather h2 {
        right: 20%;
    }
    .data h2 {
        left: 15%;
    }
    .data {
        position: absolute;
        top: 20%;
        right: 80%;
    }

    .weather {
        position: absolute;
        top: 60%;
        left: 85%;
    }
    
    .weather h2::after {
        content: "🌦️";
        padding-left: 8px;
        padding-top: 6px;
    }
}